@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
}

@layer base {
  :root {
    --background: 231 48% 97%;
    --foreground: 233 30% 21%;
    --card: 0 0% 100%;
    --card-foreground: 233 30% 21%;
    --popover: 0 0% 100%;
    --popover-foreground: 233 30% 21%;
    --primary: 231 48% 48%;
    --primary-foreground: 0 0% 100%;
    --secondary: 231 48% 90%;
    --secondary-foreground: 233 30% 21%;
    --muted: 231 48% 94%;
    --muted-foreground: 233 30% 41%;
    --accent: 174 100% 29%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 231 48% 88%;
    --input: 231 48% 88%;
    --ring: 231 48% 48%;
    --chart-1: 231 48% 48%;
    --chart-2: 174 100% 29%;
    --chart-3: 210 40% 56%;
    --chart-4: 28 80% 58%;
    --chart-5: 190 70% 45%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 233 30% 15%;
    --foreground: 0 0% 98%;
    --card: 233 30% 15%;
    --card-foreground: 0 0% 98%;
    --popover: 233 30% 15%;
    --popover-foreground: 0 0% 98%;
    --primary: 231 48% 58%;
    --primary-foreground: 0 0% 100%;
    --secondary: 233 30% 25%;
    --secondary-foreground: 0 0% 98%;
    --muted: 233 30% 25%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 174 100% 39%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 233 30% 25%;
    --input: 233 30% 25%;
    --ring: 231 48% 58%;
    --chart-1: 231 48% 58%;
    --chart-2: 174 100% 39%;
    --chart-3: 210 40% 66%;
    --chart-4: 28 80% 68%;
    --chart-5: 190 70% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
